.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer
{
   position: fixed; 
   color: white;
   bottom: 0;
   width: 100%;
   background-color: grey;
   line-height: 3;
   text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    background-color: aqua;
}

@keyframes example {
    0% {
        box-shadow: 1px 1px 38px red;
    }
    16% {
        box-shadow: 1px 1px 38px orange;
    }
    32% {
        box-shadow: 1px 1px 38px yellow;
    }
    48% {
        box-shadow: 1px 1px 38px green;
    }
    64% {
        box-shadow: 1px 1px 38px blue;
    }
    80% {
        box-shadow: 1px 1px 38px purple;
    }
    100% {
        box-shadow: 1px 1px 38px red;
    }
}